{% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            alertify.defaults.position = 'top-right';

            const tagMapping = {
                error: "error",
                success: "success",
                info: "message",
                warning: "warning"
            };

            {% for message in messages %}
                var alertType = tagMapping["{{ message.tags|default:'info' }}"] || "message";
                alertify[alertType]("{{ message|escapejs }}");
            {% endfor %}
        });
    </script>
{% endif %}

